[Unit]
Description=Check configurable TK0301 Wiki backup schedule

[Timer]
OnCalendar=hourly
AccuracySec=1m
Persistent=true
Unit=wiki-backup.service

[Install]
WantedBy=timers.target
